@font-face {
  font-family: digital;
  src: url(./font/digital-7.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, rgb(54 54 54 / 30%), rgb(0 0 0 / 90%)),
    url(./img/clock-gbe6041c3b_1280.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin-bottom: 10rem;
  opacity: 0.8;
}

p {
  color: rgb(27, 248, 237);
  font-size: 7rem;
  font-family: digital;
  text-shadow: 3px 3px 20px;
}

@media screen and (max-width: 800px) {
  p {
    font-size: 5rem;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 4rem;
  }
}
@media screen and (max-width: 400px) {
  p {
    font-size: 3rem;
  }
}
@media screen and (max-width: 300px) {
  p {
    font-size: 2rem;
  }
}
